<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">About</h2>
        <p class="lead">I've always been interested in technology. It's been a staple in my life for as long as I can remember. It's pretty great as long as it doesn't crach or catch on fire</p>
      </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <img class="img-responsive" src="/img/bsod.png" alt="">
    </div>
    </div>
  </div>
</div>
