<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Welcome to Neophyte Army</h1>
          <h3>A place for me to play.</h3>
          <hr class="intro-divider" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">To Play With Pis and Electronics</h2>
        <p class="lead">I've always been interested in technology. I've liked the idea of technology allowing the regular populace to take control of their own lives. Take control and build things like... weather stations?</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <video id="orange_pi_video" class="video-js vjs-default-skin vjs-big-play-centered"
          controls autoplay muted loop preload="auto" width="auto" height="auto"
          poster="/img/orange_pi_weather_station.png"
          data-setup='{}'>
           <source src="/media/orange_pi_weather_station.mp4" type="video/mp4" />
           <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <h2 class="section-heading">To Play with Code</h2>
                <p class="lead">I've been coding on and off since high school, only doing it more consistently once I got my first real job. That was over 10 years ago @_@.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-responsive" src="/img/coding.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
   <div class="container">
       <div class="row">
           <div class="col-lg-5 col-sm-6">
               <hr class="section-heading-spacer">
               <div class="clearfix"></div>
               <h2 class="section-heading">To Play with Software</h2>
               <p class="lead">I like Open Source software. Beyond the fact that it's 'free'.</p>
           </div>
           <div class="col-lg-5 col-lg-offset-2 col-sm-6">
               <img class="img-responsive" src="/img/opensource-logo.png" alt="">
           </div>
       </div>
   </div>
   </div>
